# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# Data and uploads
data/
uploads/

# Instance folder (Flask/SQLAlchemy)
instance/

# Logs and temporary files
*.log
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Python packaging
*.egg-info/
dist/
build/

# Cache
.scanned_hashes.txt
